@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.home_banner{
    background-image: url("./assets/Home/banner.svg");
    width: 100%;
    height: 336px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}